<?xml version="1.0"?>
<Configuration>
   <ProductStudioOptions Enabled="true" Domain="" User="" Password="" PSQFile="dashboard.psq" LastSyncDate="2006-01-01">
      <Fields>
         <Field Name="ID" Alias="ID" />
         <Field Name="Tree Path" Alias="Tree Path" />
         <Field Name="Title" Alias="Title" />
         <Field Name="Status" Alias="Status" />
         <Field Name="Assigned To" Alias="Assigned To" />
         <Field Name="Issue Type" Alias="Issue Type" />
         <Field Name="Priority" Alias="Priority" />
         <Field Name="Severity" Alias="Severity" />
         <Field Name="Triage Status" Alias="Triage Status" />
         <Field Name="Opened Date" Alias="Opened Date" />
         <Field Name="Opened By" Alias="Opened By" />
         <Field Name="Changed Date" Alias="Changed Date" />
         <Field Name="Changed By" Alias="Changed By" />
         <Field Name="Resolved Date" Alias="Resolved Date" />
         <Field Name="Resolved By" Alias="Resolved By" />
         <Field Name="Closed Date" Alias="Closed Date" />
         <Field Name="Closed By" Alias="Closed By" />
         <Field Name="Resolution" Alias="Resolution" />
         <Field Name="Cause" Alias="Cause" />
         <Field Name="Change" Alias="Change" />
         <Field Name="Open Build" Alias="Open Build" />
         <Field Name="Fix Build" Alias="Fix Build" />
         <Field Name="Description" Alias="Description" />
         <Field Name="Repro Steps" Alias="Repro Steps" />
         <Field Name="Dev Owner" Alias="Dev Owner" />
         <Field Name="Test Owner" Alias="Test Owner" />
         <Field Name="PM Owner" Alias="PM Owner" />
      </Fields>
   </ProductStudioOptions>
   <WTT Enabled="true" Server="tkbgitwincesql1.redmond.corp.microsoft.com" Database="WTTIdentity" Datastore="WTT3Mobile" FeaturePath="$\AETools\ACT\" LastSyncDate="2006-01-01">
      <JobFields>
         <Field Name="Id" Alias="Id" />
         <Field Name="Name" Alias="Name" />
         <Field Name="JobExecutionTypeId" Alias="JobExecutionTypeId" />
         <Field Name="CreatedByAlias" Alias="CreatedByAlias" />
         <Field Name="CreateTime" Alias="CreateTime" />
         <Field Name="LastUpdatedByAlias" Alias="LastUpdatedByAlias" />
         <Field Name="LastUpdatedTime" Alias="LastUpdatedTime" />
         <Field Name="OwnerAlias" Alias="OwnerAlias" />
         <Field Name="Description" Alias="Description" />
         <Field Name="AssignedToAlias" Alias="AssignedToAlias" />
         <Field Name="Keywords" Alias="Keywords" />
         <Field Name="Url" Alias="Url" />
         <Field Name="Priority" Alias="Priority" />
         <Field Name="FullPath" Alias="FullPath" />
         <Field Name="FeatureName" Alias="FeatureName" />
         <Field Name="IsInactive" Alias="IsInactive" />
         <Field Name="Weight" Alias="Total" />
         <Field Name="ExpectedRuntime" Alias="ExpectedRuntime" />
      </JobFields>
      <ResultFields>
         <Field Name="Id" Alias="Id" />
         <Field Name="JobId" Alias="JobId" />
         <Field Name="Pass" Alias="Pass" />
         <Field Name="Fail" Alias="Fail" />
         <Field Name="NotApplicable" Alias="NotApplicable" />
         <Field Name="NotRun" Alias="NotRun" />
         <Field Name="StartTime" Alias="StartTime" />
         <Field Name="EndTime" Alias="EndTime" />
         <Field Name="CreatedByAlias" Alias="CreatedByAlias" />
         <Field Name="CreateTime" Alias="CreateTime" />
         <Field Name="LastUpdatedByAlias" Alias="LastUpdatedByAlias" />
         <Field Name="LastUpdatedTime" Alias="LastUpdatedTime" />
         <Field Name="LogLocation" Alias="LogLocation" />
         <Field Name="ParentResultId" Alias="ParentResultId" />
         <Field Name="ResultBugCollection" Alias="ResultBugCollection" />
      </ResultFields>
   </WTT>
   <ComponentDefinitions>
      <Components>
         <Component Name="Agent Framework">
            <SubComponents>
               <SubComponent Name="Deprecation" PSPath="" WTTPath="$\AETools\ACT\Agent Framework\Agents\Deprecation" />
               <SubComponent Name="GinaSession0" PSPath="" WTTPath="$\AETools\ACT\Agent Framework\Agents\GinaSession0" />
               <SubComponent Name="IE" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents\IE Agent" WTTPath="$\AETools\ACT\Agent Framework\Agents\IE" />
               <SubComponent Name="UACCE" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents\LUA" WTTPath="$\AETools\ACT\Agent Framework\Agents\UACCE" />
               <SubComponent Name="UACCE" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents\LUA" WTTPath="$\AETools\ACT\Agent Framework\Agents\UACCE\Manual" />
               <SubComponent Name="UIA" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents\UIA" WTTPath="$\AETools\ACT\Agent Framework\Agents\UIA" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents" WTTPath="" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Bucketizer" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agents\Collector" WTTPath="$\AETools\ACT\Agent Framework\Collector" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Installer" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Uploader" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Manual\Installer" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Manual\Scheduler" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Manual\Status" />
               <SubComponent Name="System Agents" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Agent Framework" WTTPath="$\AETools\ACT\Agent Framework\Manual\Uploader" />
            </SubComponents>
         </Component>
         <Component Name="Client">
            <SubComponents>
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Help" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager\Analyze" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager\Collect" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager\Configure" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager\Organize" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager\Mitigate" WTTPath="" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager" WTTPath="$\AETools\ACT\Client\ACM" />
               <SubComponent Name="ACM" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Application Compatibility Manager" WTTPath="$\AETools\ACT\Client\ACM\Manual" />
               <SubComponent Name="Compat Admin" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Compatibility Administrator" WTTPath="$\AETools\ACT\Client\CompatAdmin" />
               <SubComponent Name="Data Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Middle Tier" WTTPath="" />
               <SubComponent Name="Data Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Data Service" WTTPath="$\AETools\ACT\Client\Data Service" />
               <SubComponent Name="Data Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Data Service" WTTPath="$\AETools\ACT\Client\Data Service\Listener" />
               <SubComponent Name="Data Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Data Service" WTTPath="$\AETools\ACT\Client\Data Service\Queuer" />
               <SubComponent Name="Data Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Data Service" WTTPath="$\AETools\ACT\Client\Data Service\Manual" />
               <SubComponent Name="Database" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Client DB" WTTPath="$\AETools\ACT\Client\Database" />
               <SubComponent Name="Installer" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Setup" WTTPath="$\AETools\ACT\Client\Installer" />
               <SubComponent Name="IE Test Tool" PSPath="" WTTPath="$\AETools\ACT\Test Tools\IE Test Tool" />
               <SubComponent Name="Setup Monitor" PSPath="" WTTPath="$\AETools\ACT\Test Tools\Setup Monitor" />           
               <SubComponent Name="Scenario Test" PSPath="" WTTPath="$\AETools\ACT\Scenario Test" />                          
            </SubComponents>
         </Component>
         <Component Name="Server">
            <SubComponents>
               <SubComponent Name="Database" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Information Exchange\Application Profile" WTTPath="$\AETools\ACT\Server\Database" />
               <SubComponent Name="Installer" PSPath="" WTTPath="$\AETools\ACT\Server\Installer" />
               <SubComponent Name="Web Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Information Exchange\Web Service" WTTPath="$\AETools\ACT\Server\Web Service" />
               <SubComponent Name="Web Service" PSPath="Windows Out Of Band Releases\Tools\Application Compatibility Tools\Information Exchange\Web Service" WTTPath="$\AETools\ACT\Server\Web Service\Manual" />
            </SubComponents>
         </Component>
         <Component Name="Performance">
            <SubComponents>
               <SubComponent Name="Stress Scale Perf" PSPath="" WTTPath="$\AETools\ACT\StressScalePerf" />
            </SubComponents>
         </Component>
      </Components>
   </ComponentDefinitions>
</Configuration>
