<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<!-- 

         The <appSettings> section is used to configure application-specific configuration 
         settings.  These can be fetched from within apps by calling the 
         "ConfigurationSettings.AppSettings(key)" method:
	
         <appSettings>
            <add key="connectionstring" value="Data Source=localhost;Initial Catalog=QADashboard;Integrated Security=True;Trusted_Connection=True"/>
         </appSettings>
	-->
	<connectionStrings>
		<!--
		<add name="QADashboardConnectionString" connectionString="Data Source=localhost;Initial Catalog=QADashboard;Integrated Security=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		<add name="SqlManagerConnection" connectionString="Data Source=localhost;Initial Catalog=aspnetdb;Integrated Security=True;Trusted_Connection=True" providerName="System.Data.SqlClient" />
		-->
		<add name="QADashboardConnectionString"
			 connectionString="Data Source=ramonar-win2k3;Initial Catalog=QADashboard;uid=PortalUser;pwd="
			 providerName="System.Data.SqlClient"/>
		<add name="AzManADAMServer"
			 connectionString="msldap://a-mattk-cpu:389/CN=AzManADAMStore,OU=SecNetPartition,O=SecNet,C=US"/>
		<add name="ADConnectionString"
			 connectionString="LDAP://redmond.corp.microsoft.com/CN=Users,DC=redmond,DC=corp,DC=microsoft,DC=com"/>

	</connectionStrings>
	<system.web>
		<!--  
          DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
        -->
		<compilation debug="true" numRecompilesBeforeAppRestart="15">
		</compilation>
		<!-- 

            The <sessionState> section is used to configure session state for the application.  
            It supports four modes: "Off", "InProc", "StateServer", and "SqlServer".  The 
            later two modes enable session state to be stored off the web server machine - 
            allowing failure redundancy and web farm session state scenarios.
		-->
            <sessionState mode="InProc"
                          stateConnectionString="tcpip=127.0.0.1:42424"
                          sqlConnectionString="data source=127.0.0.1;trusted_connection=true"
                          cookieless="false" 
                          timeout="20" />

        
		<!--

            The <customErrors> section enables configuration of what to do if/when an 
            unhandled error occurs during the execution of a request.  Specifically, it 
            enables developers to configure html error pages to be displayed in place of 
            a error stack trace:

            <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
               <error statusCode="403" redirect="NoAccess.htm"/>
               <error statusCode="404" redirect="FileNotFound.htm"/>
            </customErrors>

        -->
		<!-- 

            The <authentication> section enables configuration of the security authentication 
            mode used by ASP.NET to identify an incoming user.  It supports a "mode" 
            attribute with four valid values: "Windows", "Forms", "Passport" and "None". 

            The <forms> section is a sub-section of the <authentication> section, 
            and supports configuring the authentication values used when Forms 
            authentication is enabled above:
		-->
		<authentication mode="Windows"/>
		<identity impersonate="true"/>

		<!--
	 Old roleManager Provider declaration:
		<roleManager defaultProvider="AspNetWindowsTokenRoleProvider" />
		-->
		<!-- Role manager SqlRoleManager on workgroup network 
		<roleManager enabled="true" defaultProvider="SqlRoleManager">
			<providers>
				<add name="SqlRoleManager" 
					 type="System.Web.Security.SqlRoleProvider"
					 connectionStringName="SqlManagerConnection"
					 applicationName="QADashboard" />
			</providers>
		</roleManager>
		-->
		<!-- Role manager for Active Directory on corpnet -->
		<roleManager enabled="true"
			   cacheRolesInCookie="true"
			   defaultProvider="RoleManagerAzManADAMProvider"
			   cookieName=".ASPXROLES"
			   cookiePath="/"
			   cookieTimeout="30"
			   cookieRequireSSL="true"
			   cookieSlidingExpiration="true"
			   createPersistentCookie="false"
			   cookieProtection="All">
			<providers>
				<add name="RoleManagerAzManADAMProvider"
					 type="System.Web.Security.AuthorizationStoreRoleProvider, System.Web,
					 Version=2.0.0.0, Culture=neutral, publicKeyToken=b03f5f7f11d50a3a"
					connectionStringName="AzManADAMServer" applicationName="QADashboard" />
			</providers>
		</roleManager>
		
		<!--
                    <forms name=".ASPXAUTH" 
                           loginUrl="login.aspx" 
                           protection="Validation" 
                           timeout="999999" />

             </authentication>

        -->
		<!--

            The <authorization> section enables developers/administrators to configure 
            whether a user or role has access to a particular page or resource.  This is 
            accomplished by adding "<allow>" and "<deny>" sub-tags beneath the <authorization> 
            section - specifically detailing the users/roles allowed or denied access.

            Note: The "?" character indicates "anonymous" users (ie: non authenticated users).  
            The "*" character indicates "all" users. 
		-->
		<authorization>
			<allow users="*"/>
			<deny users="?"/>
		</authorization>
		
		<!--  GLOBALIZATION
           This section sets the globalization settings of the application. 
        -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
	</system.web>
</configuration>
